/* Search Form */
* {
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #172833;
}

#search-form {
  /* border: 1px solid ; */
  width: 700px;
  position: relative;

}

.container{
    width:100%;
    opacity:0;
    margin-top:100px;
}

#header {
  height: 80px;
  background: url(airplane.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  justify-content: flex-end;
  /* align-items: right; */
}
#header h1 {
  color: #FFF;
  margin-right: 15px;
  font-size: 2.5em
}

.flight {
  padding: 20px;
}
.flight input, select {
    color: #6B6A6A;
}

.info-box {
  padding: 10px 0;
  margin-top: 20px;
  flex: 1;
  border-right: 20px solid transparent;
}
.info-box:last-child {
  border-right: none;
}
.info-box label {
  display: block;
  color: #6B6A6A;
  font-size: .9em;
}
.info-box input[type=text], input[type=submit], select {
  border: none;
  outline: none;
  background: #E2E0E0;
  margin-top: 5px;
  width: 100%;
  padding: 5px;
  height: 30px;
  border-radius: 3px;
}


#flight-type {
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px dotted silver;
}
#flight-type .info-box {
  flex: 0 1 25%;
  display:flex;
  align-items: center;
}

#flight-depart {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dotted silver;
}
#flight-depart .info-box {
  position: relative;
}
#depart-res, #arrive-res {
  position: absolute;
  background: #FFFFFF;
}
#depart-res p, #arrive-res p {
  padding: 7px 2px;
  border-bottom: 1px dotted silver;
}
#depart-res p:hover, #arrive-res p:hover {
  background: #EDEDED;
  cursor: pointer;
}

#flight-dates {
  display: flex;
  border-bottom: 1px dotted silver;
}

#departingflight-info,#arrivingflight-info {
  display: flex;
  
}

#flight-search .info-box {
  display: flex;
  justify-content: center;
}
#flight-search input[type=submit] {
  background: #45a29e;
  color: white;
  padding: 0;
  height: 50px;
  font-size: 1.2em;
  margin-top:20px;
}

/* Calender */
#calender {
  border: 3px solid #00b4eb;
  padding: 5px;
  opacity: 0;
  background: #FFFFFF;
  position: absolute;
  transition: opacity .3s;
  pointer-events: none;
}
#calender .nav {
  padding: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}
#calender .nav button {
  background: #00b4eb;
  border: none;
  outline: none;
  color: #FFFFFF;
  padding: 5px 8px;
  font-weight: 600;
  border-radius: 3px;
}
table {
  border: 1px solid #DBDBDB;
  background: #F4F4F4;
}
table td {
  border: 1px solid #DBDBDB;
  padding: 5px;
  text-align: center;
  cursor: pointer;
}
.normal {
  color: rgba(0,0,0,.8)
}
.today {
  background: #FF3240;
  color: #FFFFFF;
}
.closed {
  color: #DBDBDB;
  cursor: default;
}
.picked {
  background: green;
}
#month {
  display: inline-block;
}

#confirm {
  width: 500px;
  padding: 20px;
  border: 5px solid #55AF3A;
  margin: 20px auto;
  opacity: 0;
}
#confirm h3 {
  font-size: 1.2em;
  margin-bottom: 20px;
}
#confirm p {
  padding: 10px;
}
#confirm strong {
  font-weight: 600;
}

#flight_header{
    display:flex;
    justify-content:space-around;
    background-color:white;
    height:12vh;
    width:100%;
    border:1px solid #00b4eb;
    border-radius:5px;
    
}
h1{
    margin-top:1%;
    margin-left:2%;
    font-size:50px;
    color:#00b4eb;
    font-weight:bold;
}

#header {
  height: 90px;
  background: url(airplane.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  justify-content: flex-end;
  /* align-items: right; */
}
#header > h1{
    color:white;
}
#modify-button{
    margin-right:3%;
    height:50px;
    width:70px;
    margin-top:4%;
    background-color:white;
    color:#00b4eb;
    font-weight:bold;
    border:1px solid #00b4eb;
    
}
#modify-button:hover{
     background-color:#dfe3eb;
}

#depart-header,#return-header,#to,#departdate-header,#returndate-header{
    margin-top:5%;
    font-size:25px;
    color:#00b4eb;
    font-weight:bold;
}

#outbound-flight-results{
   border:1px solid #00b4eb;  
   background-color:#dfe3eb; 
   border-radius:5px;
}

#departingflight-info,#departingflight-itinerary,#arrivingflight-info,#arrivingflight-itinerary{
   display:flex;
   justify-content:space-between; 
   font-weight:bold;
   height:40px;
}
#departingflight-itinerary{
    border-bottom:1px solid;
}
#departing-time,#departing-airport,#departing-time-return,#departing-airport-return{
    margin-left:10px;
}
#airline{
    font-weight:bold;
    margin-left:10px;
}
#airline-return{
    font-weight:bold;
    
}
#arriving-time,#arriving-time-return{
    position:absolute;
    left:9%;
}
#tobe{
    position:absolute;
    left:5%;
}
#arriving-airport,#arriving-airport-return{
    position:absolute;
    left:9%;
}
#price,#per-price{
    margin-right:10px;
    font-weight:bold;
    font-size:14px;
}
#stops{
    position:absolute;
    left:64%;
}
#stops-return{
    margin-right:33%;
}
#outbound-flight-results{
  font-size: 13px;
}
#duration-time{
    margin-right:25px;
}
#duration-time-return{
    margin-right:75px;
}
@media only screen and (max-width: 1300px){
    
    #flight_header{
    display:flex;
    justify-content:space-around;
    background-color:white;
    height:17vh;
    width:100%;
    border:1px solid #00b4eb;
    border-radius:5px;
    
}
    
}

@media only screen and (min-width: 400px) and (max-width: 900px) {
    
  #flight_header{
    display:flex;
    justify-content:space-around;
    background-color:white;
    height:13vh;
    width:100%;
    border:1px solid #00b4eb;
    border-radius:5px;
    
}  
 #search-form {
  border: 1px solid ;
  width: 100vw !important;
  position: relative;
    height:100vh !important;
    
}  
h1{
    margin-top:1%;
    margin-left:2%;
    font-size:15px;
    color:#00b4eb;
    font-weight:bold;
}
#depart-header,#return-header,#to,#departdate,#returndate{
    margin-top:5%;
    font-size:12px;
    color:#00b4eb;
    font-weight:bold;
}
#modify-button{
    /*margin-right:2%;*/
    height:20px;
    width:55px;
    margin-top:4%;
    background-color:white;
    color:#00b4eb;
    font-weight:bold;
    border:1px solid #00b4eb;
    
}
#flight-info,#flight-itinerary{
   display:flex;
   justify-content:space-between; 
   /*font-weight:bold;*/
   height:40px;

}
#arriving-airport{
    position:absolute;
    left:20%;
}
#departing-time,#departing-airport,#airline{
    margin-left:3px;
}
#tobe{
    position:absolute;
    left:14%;
}
#arriving-time{
    position:absolute;
    left:22%;
}
#duration-time{
     position:absolute;
    left:46%;
}
    
}


